.userInfo {
    width: 100%;
    display: inline-flex;
    align-items: center;
    padding: 20px 0;
    color: #4D5BCB;
}

.userImage {
    width: 40px;
    height: 40px;
    margin: 0 10px;
    border-radius: 100%;
}

.userInfo > h4 {
    margin: 0 20px;
    font-size: small;
}
